<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163857188785-hjvm40prk7mac4vk0bd4qp9l4990l6nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163857188785-hjvm40prk7mac4vk0bd4qp9l4990l6nc</string>
	<key>API_KEY</key>
	<string>AIzaSyBlllr_xr-Dx6l0QrcaF48ez7yD2V0_g5U</string>
	<key>GCM_SENDER_ID</key>
	<string>163857188785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seonhui.instagramCloneCoding</string>
	<key>PROJECT_ID</key>
	<string>instagramclonecoding-b69d0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonecoding-b69d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163857188785:ios:ac657a1ccabd46d60d5f90</string>
</dict>
</plist>